<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Новый пользователь</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${new_user}">
  <label for="username">Введите Имя:</label>
  <input type="text" th:field="*{username}" id="username"/>
  <br/>
  <label for="password">Введите пароль:</label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <label for="email">Введите eMail:</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <input type = "submit" value = "Создать"/>
</form>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Выйти"/>
</form>
</body>
</html>