<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Изменение</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/update/{id} (id =${user.getId()})}" th:object="${user}">
  <label for="username">Изменить имя: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <br/>
  <label for="password">Изменить пароль: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <label for="email">Изменить eMail: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <input type="submit" value="Изменить!"/>
</form>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Выйти"/>
</form>
</body>
</html>